form {
   margin-bottom:15px;
   margin-top:15px;
}

.examples{
    margin-top:15px;
}

.btn-success{
    background-color: #275024 !important;
    border-color: #085C26 !important;
}
#panel{
    display:none;
}

body{
    padding-top:0px !important;
}