
<div ng-show="{{examples.length}}">
    <button ng-click="slidePlease()" class="btn btn-info examples" type="button">
        {{buttonText}} <span class="glyphicon glyphicon-chevron-{{arrow}}"></span>
    </button>
    <div id="{{uniqueName}}" style="display:none">
        <table>
            <tr ng-repeat='example in examples'>
                <td>
                    <span class="label label-{{example.labelStatus}}">{{example.labelValue}}</span>
                </td>
                <td>
                    <span>{{root.trnsl(example.definition)}} </span>
                </td>
            </tr>
        </table>
    </div>
</div>
