

<div class="container" ng-controller = 'contentCtrl'>

    <button ng-click = "slidePlease()" class="btn btn-info examples" type="button">
        examples <span class="glyphicon glyphicon-chevron-down"></span>
    </button>
    <div id="panel">
        <table>
            <tr>
                <td>
                    <span class="label label-success">%</span>
                </td>
                <td>
                    <span>წამოიღებს ყველა სიტყვას, რომელშიც ნებისმიერი რაოდენობით ნებისმიერი ბგერაა </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label label-success">ველა%</span>
                </td>
                <td>
                    <span>წამოიღებს სიტყვებს, რომლებიც იწყება ველა-ზე</span>
                </td>
            </tr>
            <tr>
                <td><span class="label label-success">%ველა</span></td>
                <td><span>წამოიღებს სიტყვებს, რომლებიც მთავრდება ველა-ზე</span></td>
            </tr>
            <tr>
                <td><span class="label label-success">%ველა%</span></td>
                <td><span>წამოიღებს სიტყვებს, რომლებიც ურევია 'ველა'</span></td>
            </tr>
            <tr>
                <td><span class="label label-success">_</span></td>
                <td><span>წამოიღებს მხოლოდ ერთ ასობგერიან სიტყვებს </span></td>
            </tr>
            <tr>
                <td><span class="label label-success">__</span></td>
                <td><span>წამოიღებს მხოლოდ ორ ასობგერიან სიტყვებს</span></td>
            </tr>
            <tr>
                <td><span class="label label-success">მ_ღლ_ვ_</span></td>
                <td><span>წამოიღებს შვიდასოიან სიტყვებს სადაც 1-ლი, მე-3, მე-4 და მე-6 ასოა მ,ღ,ლ,ვ</span></td>
            </tr>
            <tr>
                <td><span class="label label-success">[აეიოუ]%</span></td>
                <td><span>წამოიღებს ყველა სიტყვას რომლის პირველი ასო ხმოვანია</span></td>
            </tr>
            <tr>
                <td><span class="label label-success">[ა-დ]%</span></td>
                <td><span>წამოიღებს ყველა სიტყვას რომლის პირველი ასო ა-დ შუალედშია</span></td>
            </tr>
            <tr>
                <td><span class="label label-success">[^აეიოუ]%</span></td>
                <td><span>წამოიღებს ყველა სიტყვას რომლის პირველი ასო თანხმოვანია</span></td>
            </tr>
            <tr>
                <td><span class="label label-danger">___დალი</span> <br /> <span class="label label-danger">____დალი</span></td>
                <td><span>სალვადორ დალის და-ძმები</span></td>
            </tr>
            <tr>
                <td>
                    <span class="label label-warning">__ოც__</span> <br />
                    <span class="label label-warning">__ასი__</span><br />
                    <span class="label label-warning">__ათი__</span><br />
                    <span class="label label-warning">__ასი__</span>
                </td>
                <td><span>მანქანების კრეატიული ნომრები</span></td>
            </tr>
            <tr>
                <td>
                    <span class="label label-danger">%ჯი</span> <br />
                    <span class="label label-danger">%მე</span><br />
                </td>
                <td><span>დომეინების კრეატიული სახელები</span></td>
            </tr>
        </table
    </div>

    <form method="get" action="/GeoWords/Query">
        <input type="text" ng-model="queryWord"  placeholder="Enter Text Pattern" class="form-control" style="display:inline !important;" />
        <div class="btn btn-default"   > Go! </div>
    </form>
    <span class="label label-info"> სიტყვების რაოდენობაა {{ words.length }}  </span>


    <div>
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    ნომერი
                </th>
                <th>
                    მოძებნილი სიტყვები
                </th>
            </tr>
                        <tr ng-repeat="word in words">
                            <td>
                                <!-- put $index here -->
                            </td>
                            <td>
                                {{word.value}}
                            </td>
                        </tr>
        </table>

    </div>
</div>